
/** Import von Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Source+Code+Pro:wght@200&display=swap');

/** Tag Selektoren **/
body{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    color: #fff;
}

h1{
    font-size: 4em;
    text-align: center;
    margin-top: 20%;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
}

span {
    color: #1f1f1f;
    font-size: 2em;
    font-weight: 900;
}

h2, p{
    text-align: center;
}
