/* Möglichkeit 1 */

body {
  background-image: url('./bild.png');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  filter: brightness(40%);
}